body{
    background-color: blueviolet;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    
}

*{
    margin: 0;
    padding: 0%;
    font-family: roboto;
    box-sizing: border-box;
    
}

#job-form{

    background-color: white;
    width: 800px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    

}

#job-form label{

    font-family: advent pro;
    color: black;

}

#job-form button{

    color: white;
    background-color: blueviolet;
    border: 0;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px;

}

#job-form textarea{

    width: 300px;

}